<h1>Form example</h1>

{{#if postResponse}}
    <p>
        Response from the form being posted: {{postResponse}}
    </p>
{{/if}}

<form method="post" action="/post-example">
    <span>Click submit to make an HTTP post</span>

    <button type="submit">Submit</button>
</form>
