<h1>Welcome</h1>

<ul>
    <li><a href="/">Root</a></li>
    <li><a href="/post-example">Post example</a></li>
    <li><a href="/sub-directory/other">Sub-directory other</a></li>
</ul>

<p>
    The backend responded with text: "{{string}}"
</p>



