<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Proxy All example</title>
    <meta name="description" content="An example FE stack">
</head>

<body>

{{{body}}}

</body>
</html>
